/* Can be applied to blocks of content */
p.callout {
  margin: 10px;
  border: 1px solid #f5f5f5;
  background-color: #eee;
}

/* Can be applied to inline content */
span.big-blue-text {
  font-size: 2rem;
  color: blue;
}

h2.wvu-shout{
  border-bottom: 1px solid red;
}

ul.wvu-ul-chevrons{
  color: red;
}

ul.wvu-ul-arrows{
  color: green;
}