@import 'main';

.wvu-masthead {
  --bg-color: #000 !important;
  background-color: var(--bg-color) !important;
}

#nav-primary {
  background-color: #333 !important;
}
  

// .plain-links a {
//   text-decoration: none;
//   color: inherit;
// }

// footer  a { 
//   color: $wvu-gold;
//   text-decoration: none;
// }

// footer .wvu-socials a {
//   color: white;
// };

