{{ define "main" }}
  Test.
  {{ .Content }}
  {{ partial "bookshop_bindings" `.Params.topper` }}
  {{ partial "bookshop_partial" (slice "topper" .Params.topper) }}

  {{ if .Params.detail_blocks }}
    {{ partial "bookshop_bindings" `.Params.detail_blocks` }}
    {{ partial "bookshop_partial" (slice "page" .Params.detail_blocks) }}
  {{ else }}
    {{ partial "bookshop_bindings" `.Params.content_blocks` }}
    {{ partial "bookshop_partial" (slice "page" .Params.content_blocks) }}
  {{ end }}
{{ end }}